* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Estilos del header*/
header {
  background-color: #3bacb6;
  padding: 20px;
}

header .barraNavPrimera {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

header .barraNavPrimera .options {
  text-align: right;
}

header .barraNavPrimera .options a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  line-height: 2rem;
  font-weight: 600;
}

header .logoImagen {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  vertical-align: middle;
}

header .loloImagen img {
  width: 100%;
  height: 100%;
}

header .barraNav {
  display: flex;
  flex-direction: row-reverse;
  background-color: #3bacb6;
  width: calc(100%-104px);
  height: 100px;
  vertical-align: middle;
}

header .barraNav ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

header .barraNav ul li {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  padding: 38px 20px;
}

header .barraNav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #f0d9ff;
}

/* Estilos del main */
main {
  background-color: #82dbd8;
  padding: 271px;
  padding-top: 50px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  padding-top: 40px;
}

.tabla {
  text-align: center;
}

/* thead {
  border: cornflowerblue 2px solid;
  font-weight: bold;
} */
.options {
  font-size: 20px;
}

.container-fluid {
  font-size: 25px;
}

/* Este es uno de los últimos cambios que hice */
.mediosdePago {
  display: grid;
  gap: 15px;
}

.grillaPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

/*Estilos del footer*/
footer .redes {
  background-color: #b3e8e5;
  padding: 25px;
}

footer .icon {
  width: 48px;
  height: 48px;
  margin-bottom: 15px;
}

footer .redes .p {
  padding-top: 25px;
}
